.paper {
  background-color: white;
  height: auto;
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin-top: 1px;
}

.canceldetails {
  background-color: white;
  color: #979595;
  width: "50%" !important;
  padding: 0.25rem 1rem;
}

hr {
  height: 1px;
  background-color: #ccc;
  border: none;
}

.reason {
  padding-left: 2rem;

}

.btn {
  background: #A7A7A7 !important;
  color: white !important;
  text-transform: none !important;
  padding: 2rem 8rem !important;
  font-size: 20px !important;
}

.btnColor {
  background: red !important;

}